version: '3'
services:
  web:
    image: jekyll/jekyll:3
    command: jekyll serve --watch --force_polling -H 0.0.0.0 -P 4000
    ports:
      - 4000:4000
      - 35729:35729
    volumes:
      - $PWD:/srv/jekyll
