<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% include 'includes/metadata.html' %}
    {% block canonical_rel %}{% endblock %}
</head>
<body>
{% include 'includes/navbar.html' %}
<!-- Banner -->
{% if BANNER and BANNER_ALL_PAGES %}
    {% include 'includes/banner.html' %}
{% elif BANNER and not BANNER_ALL_PAGES %}
    {% block banner %}{% endblock %}
{% endif %}
<!-- End Banner -->
<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
    <div class="row">
        {% if not HIDE_SIDEBAR or ABOUT_ME or AVATAR %}
        <div class="col-sm-9">
        {% else %}
        <div class="col-lg-12">
        {% endif %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        {% if not HIDE_SIDEBAR or ABOUT_ME or AVATAR %}
        <div class="col-sm-3" id="sidebar">
            <aside>
            {% if ABOUT_ME or AVATAR %}
                {% include 'includes/aboutme.html' %}
            {% endif %}
            {% if not HIDE_SIDEBAR %}
                {% include 'includes/sidebar.html' %}
            {% endif %}
            </aside>
        </div>
        {% endif %}
    </div>
</div>
{% include 'includes/footer.html' %}

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.min.js"></script>
{% include 'includes/piwik.html' %}
{% block scripts %}{% endblock %}
</body>
</html>
