.main-footer {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #26353f;
  color: white;
  font-size: 12px;

  .container {
    position: relative;
  }

  a {
    color: white;
  }

  h5 {
    // font-family: $title-font;
    font-size: 14px;
    margin: 26px 0 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.78em;

    li a {
      font-weight: normal;
    }
  }

  .logo {
    width: 150px;
    height: 70px;
  }

  .bottom-right {
    position: absolute;
    bottom: -40px;
    right: 0;

    a {
      background-color: rgba(255, 255, 255, 0.42);
      padding: 3px 10px;
    }
  }

  .social {
    .fa {
      opacity: 0.3;
      margin-right: 6px;
      font-size: 2.5em;
    }

    a:hover {
      font-size: 1em;
      color: $gray-lighter;
      text-decoration: none;

      .fa {
        opacity: 1;
        color: white;
      }
    }

    .popover {
      font-size: $font-size-base;
      font-weight: normal;
      opacity: 1;

      .popover-title {
        color: $gray-darker;
      }

      a {
        color: $gray-darker;
        $rss-color: darken(orange, 5%);

        &:hover {
          color: lighten($gray-darker, 10%);

          .fa-rss {
            color: lighten($rss-color, 10%);
          }
        }

        .fa-rss {
          color: $rss-color;
          font-size: $font-size-base;
          opacity: 1;
        }
      }
    }
  }
}
