//Navbar
.main-navbar {
  background: none;
  position: relative;
  border-color: transparent;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include bg-image('header-navbar.png');
    z-index: -1;
    opacity: 0.85;
  }

  .navbar-brand {
    $vpad: 5px;
    padding: $vpad 15px;

    img {
      display: inline;
      max-height: $navbar-height - 2 * $vpad;
      margin-right: 15px;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.42);
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-collapse,
  .navbar-form {
    border-color: lighten($brand-primary, 5%);
  }
}
