version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.3-stretch
    steps:
      - checkout

      - run:
          name: Install Ruby dependencies
          command: bundle install

      - run:
          name: check for deprecations or configuration issues
          command: bundle exec jekyll doctor

      - run:
          name: Build website
          command: bundle exec jekyll build --verbose
