<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <img src="{{file.path}}/img/logos/etalab.png">
      <ul class="footer__social">
        <li><a href="mailto:info@data.gouv.fr"><img src="{{file.path}}/img/icons/envelop.svg" alt="Email"></a></li>
        <li><a href="https://www.twitter.com/datagouvfr"><img src="{{file.path}}/img/icons/twitter.svg" alt="Twitter"></a></li>
        <li><a href="https://www.facebook.com/etalab"><img src="{{file.path}}/img/icons/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://plus.google.com/117902389749487955734"><img src="{{file.path}}/img/icons/googleplus.svg" alt="Google +"></a></li>
        <li><a href="https://www.github.com/etalab"><img src="{{file.path}}/img/icons/github.svg" alt="Github"></a></li>
        <li><a href="https://www.data.gouv.fr/fr/datasets/recent.atom"><img src="{{file.path}}/img/icons/rss.svg" alt="RSS"></a></li>
      </ul>
    </div>
    <ul class="footer__links">
      <li><h2>data.gouv.fr</h2></li>
      <li><a href="https://www.data.gouv.fr/reference">Données de référence</a></li>
      <li><a href="https://www.data.gouv.fr/terms">Conditions générales d'utilisation</a></li>
      <li><a href="https://www.data.gouv.fr/api">API</a></li>
    </ul>
    <ul class="footer__links">
    </ul>
    <div></div>
  </div>
</footer>
