<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <img src="{{file.path}}/img/logos/etalab.svg" alt="Etalab">
      <ul class="footer__social">
        <li><a href="mailto:info@data.gouv.fr"><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a></li>
        <li><a href="https://www.twitter.com/datagouvfr"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href="https://www.facebook.com/etalab"><svg class="icon icon-fb"><use xlink:href="#icon-fb"></use></svg></a></li>
        <li><a href="https://plus.google.com/117902389749487955734"><svg class="icon icon-googleplus"><use xlink:href="#icon-googleplus"></use></svg></a></li>
        <li><a href="https://www.github.com/etalab"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
        <li><a href="https://www.data.gouv.fr/fr/datasets/recent.atom"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a></li>
      </ul>
    </div>
    <ul class="footer__links">
      <li><h2>data.gouv.fr</h2></li>
      <li><a href="https://www.data.gouv.fr/reference">Données de référence</a></li>
      <li><a href="https://www.data.gouv.fr/terms">Conditions générales d'utilisation</a></li>
      <li><a href="https://www.data.gouv.fr/api">API</a></li>
    </ul>
    <ul class="footer__links">
    </ul>
    <div></div>
  </div>
</footer>
