// colors
$color-white: #fff;
$color-lighter-grey: #ebeff3;
$color-light-grey: #c9d3df;
$color-grey: #adb9c9;
$color-dark-grey: #8393a7;
$color-darker-grey: #53657d;
$color-black: #000;

$color-blue: #0081d5;
$color-light-blue: #1e90da;
$color-dark-blue: #006cb0;

$color-footer-light-blue: #2854B5;
$color-footer-medium-blue: #264EA6;
$color-footer-dark-blue: #274492;
