
.hero {
  width: 100%;
  background: linear-gradient(180deg, #238DFF, #2870F4);
  padding: 1em 0;
}

.hero__container {
  height: 8vh;
  padding-left: 2em;
  align-items: left;
}

.hero h1 {
  color: white;
}