ul {
  line-height: 1.5em;
}

.return-datagouvfr {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
}

.side-pane__link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.edit {
  margin-top: 2em;
}
