.documentation {
  padding: 0;
}

.markdown {
  // Remove top margin on code blocks following a title
  h1, h2, h3, h4, h5, h6 {
    + .highlighter-rouge {
      pre {
        margin-top: 0;
      }
    }
  }

  // {% highlight %} blocks
  figure.highlight {
    margin: 0;
    width: 100%;

      > pre {
        width: 100%;
        > code {
          width: 100%;
        }
      }
  }

  ul#markdown-toc {
    $margin: 20px;

    &:before {
      content: 'Sommaire';
      display: block;
      font-weight: bold;
      text-align: center;
      margin-bottom: $margin / 2;
    }

    display: inline-block;
    background-color: #ebeff3;
    border: 1px solid #c9d3df;
    border-left-width: 8px;
    padding: $margin/2 $margin;

    li {
      list-style-type: none;

      ul {
        padding-inline-start: $margin;
      }
    }
  }
}

.markdown img {
  max-width: 100%;
}
