.documentation {
  padding: 0;
}

.markdown {
  // Remove top margin on code blocks following a title
  h1, h2, h3, h4, h5, h6 {
    + .highlighter-rouge {
      pre {
        margin-top: 0;
      }
    }
  }
}

.markdown img {
  max-width: 100%;
}