.side-nav {
  margin-right: 5em;
  flex: 0 0 200px;
}

.side-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-nav li {
  padding: 0.3em 1em;
}

.side-nav a {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
}

.side-nav .active a {
  background: #0081D5;
  border-radius: 5px;
  color: #FFFFFF;
}