@import 'hero.css';
@import 'markdown.css';
@import 'responsive.css';
@import 'search.css';
@import 'variables.css';
@import 'customvariables.css';

.documentation {
  padding: 0;
}

ul {
  line-height: 1.5em;
}

.return-datagouvfr {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 2em;
}

.side-pane .side-pane__menu {
  padding: 1.5em;
}

.side-pane__link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.edit {
  margin-top: 2em;
}

.alert-styles {
  width: 15px;
  display: inline-block;
  margin-right:10px;
}

.alert {
  margin-bottom: 10px;
  margin-top: 10px;
}
.alert, .callout {
  overflow: hidden;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert > p {
  display: inline;
}
