---
layout: page
---
{{ content }}

<link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css" />
<style>
/* Hide information container */
.swagger-ui .information-container {
  display: none;
}
</style>

<!-- Swagger UI container -->
<div id="swagger-ui"></div>

<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>
<script>
const ui = SwaggerUIBundle({
  url: '{{ page.specs }}',
  dom_id: '#swagger-ui',
  presets: [
    SwaggerUIBundle.presets.apis,
    SwaggerUIStandalonePreset
  ],
  deepLinking: true,
  {% for option in page.options %}
  {{ option[0] }}: {{ option[1] | jsonify }},
  {% endfor %}
})
</script>
