<footer class="main-footer">
    <div class="container">
        <div class="row">
            {% for column in MENUS.footer %}
            <section class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5>{{ column.header }}</h5>
                <ul>
                    {% for entry in column.entries %}
                    <li>
                        <a href="{{ entry.url }}">{{ entry.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}

            <section class="col-xs-6 col-sm-3 col-md-4 col-lg-4 social">
                <h5>{{ _('Contact') }}</h5>
                {% for network in SOCIAL_NETWORKS %}
                <a href="{{ network.url }}" title="{{ network.name }}">
                    <i class="fa fa-{{ network.icon }}"></i>
                </a>
                {% endfor %}
                <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="{{ _('Atom feed') }}">
                    <span class="fa fa-rss-square"></span>
                </a>
            </section>

            <section class="col-xs-9 col-xs-offset-3 col-sm-offset-0 col-sm-2 col-md-2 col-lg-2">
                <a href="http://www.etalab.gouv.fr" title="{{ _('Go to Etalab’s blog') }}">
                    <img class="logo" src="{{ main_siteurl }}/theme/images/etalab.svg" alt="{{ _('Etalab logo') }}" />
                </a>
            </section>

            <p class="bottom-right"><a href="#">{{ _('Back to top') }}</a></p>

        </div>
    </div>
</footer>
