<nav class="main-navbar navbar {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation">
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
        <div class="navbar-header">
            {% if MENUITEMS or (pages and DISPLAY_PAGES_ON_MENU) or (categories and DISPLAY_CATEGORIES_ON_MENU) %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}
            <a href="{{ SITEURL }}/" class="navbar-brand">
                <img class="logo"
                    src="{{ main_siteurl }}/theme/images/logo-header.svg"
                    alt="{{ _('Data.gouv.fr logo') }}" />
                {#% if SITELOGO %}<img class="img-responsive pull-left gap-right" src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
                {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %#}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ SITEURL }}/">{{ _('Blog') }}</a>
                </li>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if not PAGES_SORT_ATTRIBUTE -%}
                    {% set PAGES_SORT_ATTRIBUTE = 'title' %}
                {%- endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages | rejectattr('parent') | sort(attribute=PAGES_SORT_ATTRIBUTE)  %}
                        {% if p.url %}
                        {% set children = children_of(p) %}
                        {% set is_active = p == page or page and p.slug == page.parent %}
                        <li class="{% if is_active %}active {% endif %}{% if children %}dropdown {% endif %}"
                            {% if children %}
                            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                            {%- endif %}>
                             <a href="{{ SITEURL }}/{{ p.url }}" {% if children %}class="dropdown-toggle"{% endif %}>
                                 {{ p.menulabel|default(p.title) }}
                             </a>
                            {% if children %}
                            <ul class="dropdown-menu">
                                {% for child in children %}
                                <li>
                                    <a href="{{ SITEURL }}/{{ child.url }}" title="{{ child.title }}">
                                        {{ child.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                      {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if 'tipue_search' in PLUGINS %}
                <li>
                    <span>
                        <form class="navbar-search" action="{{ SEARCH_URL | default('/search.html') }}">
                            <input type="text" class="search-query" placeholder="Search" name="q"
                                id="tipue_search_input" required>
                        </form>
                    </span>
                </li>
            {% endif %}
            {% if ARCHIVES_SAVE_AS %}
                <li>
                    <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                        <i class="fa fa-th-list"></i>
                        <span class="icon-label">{{ _('Archives') }}</span>
                    </a>
                </li>
            {% endif %}
            {% if lang_siteurls %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ main_siteurl }}/theme/images/flag-{{ DEFAULT_LANG }}.svg"
                            alt="{{ DEFAULT_LANG }}" width="20"/>
                    </a>
                    <ul class="dropdown-menu">
                        {% for lang, url in lang_siteurls.items() %}
                        <li {% if lang == DEFAULT_LANG %}class="disabled"{% endif %}>
                            {% set translated = translation_for(page or article or None, lang) %}
                            {% if lang == DEFAULT_LANG %}
                            <a>
                            {% elif translated %}
                            <a href="{{ main_siteurl }}/{{ translated.url }}" title="{{ lang }}">
                            {% elif page_name == 'index' %}
                            <a href="{{ url }}/{{ INDEX_URL }}" title="{{ lang }}">
                            {% else %}
                            <a href="{{ url }}/" title="{{ lang }}">
                            {% endif %}
                                <img src="{{ main_siteurl }}/theme/images/flag-{{ lang }}.svg"
                                    alt="{#{ data.config.languages[lang] }#}" width="20"/>
                                {{ LANGUAGES[lang] }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav> <!-- /.navbar -->
